
main {
  margin-bottom: 14em;  
  width: 83vw;
  height: max-content;
  margin-top: 20rem;
  background-color: #a39ce5;
  color: #81fadc;
  display: flex;
  flex-direction: column;
  align-items: center; 
}